@using IKEA.BLL.DTOs.Departments;
@model DepartmentDetailsDTO;

<h1>@Model.Name Details</h1>

<partial name="Partials/_DeletedDetailsPartial" model="@Model">

    <div class="mt-4">
        <a asp-action="Index" class="btn btn-secondary">Back To list</a>
    </div>
